
@import "./../styles/colors.scss";
.card__container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width:900px){
      height: 65vh;
    }
  }
  
.card__body{
  width: 300px;
  height: 300px;
  align-self: center;
  // margin-bottom: 5%;
  background-color: $ligthCoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:480px) {
    width: 80%;
  }
}
.card_bottom-margin{
    margin-bottom: 5%;
}
.block_size{
  height: 40px;
}
.card__translation_button{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: $cascade;
  display: flex;
  justify-content: center;
  align-items: center;
}