$coralCandy:rgb(245, 202, 195);
$cascade:rgb(132, 165, 157);
$paginationColor: rgb(243, 183, 178);
$ligthCoral:rgb(242, 132, 130);
$provincialPink:rgb(247, 237, 226);
$sandyBrown:rgba(221, 192, 173, 0.544);
$black:rgb(0,0,0);
$white:rgb(255,255,255);
$gray:rgb(167, 155, 155);
$editYellow:rgb(237, 181, 0);
$declineRed:rgb(181, 21, 0);
$acceptGreen:rgb(127, 188, 103)
