.App{
  display: flex;
  flex-direction: column;
}
.header{
  height:10vh;
  width: 100%;
  background-color: rgb(165, 167, 134);
}
.footer{
  height:10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(165, 167, 134);
}
.table__container{
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.card__container{
  height: 80vh;
  display: flex;
  justify-content: center;
}
.card__body{
  width: 300px;
  height: 300px;
  align-self: center;
  margin-bottom: 5%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__text-word{
  font: 22px "Verdana", sans-serif;
  color: black;
  margin-bottom: 2%;
}
.card__text{
  font: 15px "Verdana", sans-serif;
  color: black;
}
.pagination__block{
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 40px;
}
.pagination__left{
  width: 40px;
  background-color: lightgrey;
}
.pagination__right{
  background-color: lightgrey;
  width: 40px;
}